body{
    font: 18px/1.5 sans-serif;
    color:#333;
}
table,
td {
    border: 1px solid #000;
}
td{
    padding: 10px;
}
thead{
background-color: rgb(231, 163, 163);
}
#count{
    text-align: right;
}